<table style="width: 100%; border: 1px solid black;">
  <tr>
    <th>comprado</th>
  </tr>

  <tr  *ngFor="let compra of compras; index as i">
     <td  *ngIf="compras[i].comprado" align="center"><button class="estado" (click)="cambio(compra)"> {{compra.comprar}}</button> </td>
  <td></td>
  </tr>
</table>


<table style="width: 100%; border: 1px solid black;">
  <tr>
     <th>No comprado</th>
  </tr>
  <tr *ngFor="let compra of compras; index as i">
    <td *ngIf="!compras[i].comprado" align="center"><button class="estadoNo"(click)="cambio(compra)"> {{compra.comprar}}</button> </td>
  </tr>
</table>
